extends ../layout/main
block content
    h3 #{message}.
    a(href=`${entityUrl}`, class="button") View content
    p If the button above does not work, copy and paste the URL below into your browser:
    a(href=`${entityUrl}`, class="link") #{entityUrl}
