extends ../layout/main
block content
    h3 #{message}.
    if notificationContent
        p Content:
        blockquote #{notificationContent}
    a(href=`${entityUrl}`, class="link") View in Root
    p If the link above link does not work, copy and paste the following URL below into your browser:
    p #{entityUrl}
