extends ../layout/main
block content
    h3 !{title}.
    if notificationContent
        p Content:
        blockquote #{notificationContent}
    p If the link above link does not work, copy and paste the following URL below into your browser:
    p #{entityUrl}
