doctype html
html
    head
        style.
            body {
                margin: 0;
                padding: 0;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                background: #F8F9FD;
                color: #444754;
            }

            .content {
                padding: 24px 40px;
                box-sizing: border-box;
                max-width: 520px;
                font-size: 14px;
                margin: 20px auto;
                background: #FFFFFF;
                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
            }

            .header {
                padding: 16px;
                text-align: center;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .header img {
                display: inline-block;
                width: 32px;
                height: 32px;
                margin-right: 12px;
            }

            .header h1 {
                margin: 0;
                padding: 0;
                font-size: 24px;
                font-weight: normal;
                display: inline-block;
            }

            h3 {
                font-size: 24px;
                line-height: 29px;

            }

            .footer {
                font-size: 12px;
                opacity: 0.75;
                text-align: center;
            }

            .footer span {
                display: block;
                margin-bottom: 8px;
            }

            .button {
                background: #d7d7d7;
                display: block;
                margin: 48px;
                padding: 12px;
                font-size: 14px;
                color: #444754;
                border-radius: 4px;
                text-align: center;
                text-decoration: none;
            }

            .link {
                display: block;
                margin: 32px 0;
                opacity: 0.75;
            }
    body
        section(class="email")
            header(class="header")
            main(class="content")
                block content
            footer(class="footer")
                span This email was sent automatically by Root
                span Copyright &copy; #{new Date().getFullYear()} Root. All rights reserved.
