doctype html
html
    head
        style.
            body {
                margin: 0;
                padding: 0;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                color: #444754;
            }

            .content {
                padding: 24px 40px;
                box-sizing: border-box;
                font-size: 14px;
                margin: 20px auto;
                background: #FFFFFF;
                border-radius: 4px;
            }

            .header {
                padding: 16px;
                text-align: center;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .footer {
                padding: 24px 40px;
                font-size: 12px;
                opacity: 0.75;
            }

            .footer span {
                margin-bottom: 8px;
            }

            .link {
                display: block;
                margin: 32px 0;
                opacity: 0.75;
            }
    body
        section(class="email")
            header(class="header")
            main(class="content")
                block content
            footer(class="footer")
                span This email was sent automatically by Root |
                span Copyright &copy; #{new Date().getFullYear()} Root. All rights reserved.
