.btn {
  @apply flex flex-row items-center justify-center;
  @apply py-3 px-16;
  @apply border rounded border-solid;
  @apply bg-white text-gray-900 border-gray-400;
  @apply font-bold leading-none;
  @apply outline-none !important;

  height: 40px;

  transition: 300ms;

  & ~ & {
    @apply ml-2;
  }

  &.btn-primary {
    @apply bg-primary text-primary-invert border-primary;
  }

  &.btn-success {
    @apply bg-success text-success-invert border-success;
  }

  &.btn-danger {
    @apply bg-danger text-danger-invert border-danger;
  }

  &.btn-mute {
    @apply bg-gray-100 border-gray-100;

    background-color: #EFF1F6
  }

  &.btn-white {
    @apply bg-white text-gray-400 border-gray-400;
  }

  &.btn-link {
   @apply bg-transparent text-gray-900 border-transparent;
  }

  &.btn-link-primary {
   @apply bg-transparent text-primary border-transparent;
  }

  &.btn-icon {
    @apply border-none;

    padding: 0;
  }

  &.btn-small {
    @apply py-2 px-8;
  }
}

.btn:hover,
.btn:disabled,
.btn[disabled] {
  background-color: rgba(theme('colors.gray.400'), 0.5);
  border-color: transparent;

  &.btn-primary {
    background-color: rgba(theme('colors.primary.default'), 0.5);
  }

  &.btn-success {
    background-color: rgba(theme('colors.success.default'), 0.5);
  }

  &.btn-danger {
    background-color: rgba(theme('colors.danger.default'), 0.5);
  }

  &.btn-mute {
    background-color: rgba(theme('colors.gray.100'), 0.5);
  }

  &.btn-white {
    @apply bg-white border-gray-400;

    color: rgba(theme('colors.gray.400'), 0.5);
  }

  &.btn-link {
   background-color: rgba(theme('colors.gray.100'), 0.5);
 }
}


.btn-group {
  @apply flex flex-row;

  .btn {
    @apply rounded-none;
    @apply m-0;
  }

  .btn:first-child {
    @apply rounded-l;
  }

  .btn:last-child {
    @apply rounded-r;
  }
}

.btn:disabled,
.btn[disabled] {
  cursor: not-allowed;
}
