
.modal {
  @apply fixed top-0 left-0;
  @apply w-full;
  @apply overflow-y-scroll;
  z-index: 1000;
  /* Flex is broken when used for centering overflowing modal*/
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(theme("colors.gray.900"), 0.5);
}

.modal-inner {
  @apply bg-white rounded relative my-12;
}

.modal-header,
.modal-body,
.modal-footer {
  @apply px-12;
}

.modal-header {
  @apply flex flex-row items-center justify-between;
  @apply pt-8;
  @apply text-base;

  .btn-icon {
    width: 20px;
    height: 20px;
    border-radius: 0.25rem;
  }
}

.modal-body {
  @apply py-8;
}

.modal-footer {
  @apply flex flex-row justify-end items-end;
  @apply border-t border-gray-100;
  @apply py-4;
}
