.tree {
  @apply w-full h-auto;
}

.tree-node-back {
  @apply relative w-full;
  margin: 6px auto;
}

.tree-node-content {
  @apply flex flex-row flex-1;

  padding: 6px;
  border-radius: 4px;

  &:hover,
  &.is-active {
    @apply bg-gray-100;
  }
}

.tree-node-handle,
.tree-node-arrow,
.tree-node-icon,
.tree-node-actions {
  @apply flex flex-none items-center;
  @apply text-gray-400;

  margin-right: 6px;
}

.tree-node-handle {
  @apply absolute;
  @apply cursor-pointer;

  visibility: hidden;
  top: calc(50% - 10px);
}

.tree-node-label {
  @apply flex flex-row flex-1 cursor-pointer;
}

.tree-node-arrow {
  @apply cursor-pointer;

  margin-left: 1em;
  transition: transform .3s;

  &.is-hidden {
    visibility: hidden;
  }

  &.is-folded {
    transform: rotate(-90deg);
  }
}

.tree-node-text {
  @apply flex flex-1;
  @apply overflow-hidden leading-tight;

  input {
    @apply outline-none;

    width: calc(100% - 2em - 6px);
  }
}

.tree-node-actions {
  @apply ml-1;

  visibility: hidden;
}

.tree-placeholder-node{
  @apply bg-gray-100 opacity-25;

  border-radius: 4px;
  height: 28px;
}

.tree-node-content.is-editable {
  @apply cursor-auto;

  .tree-node-handle,
  .tree-node-actions {
    /* @apply block; */
    visibility: visible;
  }
}
