.tree {
  @apply w-full h-auto;
}

.tree-node-back {
  @apply relative w-full;
  margin: 6px auto;
}

.tree-placeholder-node{
  @apply bg-gray-100 opacity-25;

  border-radius: 4px;
  height: 28px;
}

.tree-node-content {
  @apply flex flex-row flex-1;

  padding: 6px;
  border-radius: 4px;

  &:hover,
  &.is-active {
    @apply bg-gray-100;
  }
}

.tree-node-handle,
.tree-node-arrow,
.tree-node-icon,
.tree-node-actions {
  @apply flex flex-initial items-center;
  @apply text-gray-400;

  margin-right: 6px;
}

.tree-node-handle {
  @apply invisible cursor-pointer;
  @apply mr-0;
}

.tree-node-label {
  @apply flex flex-row flex-1 cursor-pointer;
}

.tree-node-arrow {
  @apply cursor-pointer;

  transition: transform .3s;

  &.is-hidden {
    @apply invisible;
  }

  &.is-folded {
    transform: rotate(-90deg);
  }
}

.tree-node-text {
  @apply block;
  @apply overflow-hidden leading-tight;

  input {
    @apply outline-none;

    width: calc(100% - 2em - 6px);
  }
}

.tree-node-actions {
  @apply hidden ml-1;

  height: 1em;
}

.tree-node-content.is-editable {
  @apply cursor-auto;

  .tree-node-handle {
    @apply visible;
  }

  .tree-node-actions {
    @apply block;
  }
}

.tree.tree--dragging {
  .tree-node-content {
    &:hover,
    &.is-active {
      @apply bg-transparent;
    }
  }

  .dragging > .tree-node-back > .tree-node > .tree-node-content {
    @apply bg-gray-100;
  }
}
