@import 'tailwindcss/base';

/* AppIcon */

body {
  @apply font-primary text-sm text-gray-900;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

.text-inherit {
  color: inherit !important;
}

.main-container {
  @apply mx-20 my-16;
}


blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}

/* FF fix for content editable */
@-moz-document url-prefix() {
  [contenteditable='true']:before {
    content: "\feff ";
  }
}

.title-editable, .task-modal-title-editable {
  &[contenteditable='true']:before {
    content: "\feff ";
  }
}
