@import 'tailwindcss/base';

/* AppIcon */

body {
  @apply font-primary text-sm text-gray-900;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

.text-inherit {
  color: inherit !important;
}

.main-container {
  @apply mx-20 my-16;
}


blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

ol, ul {
  padding-left: 1.5em;

  li {
    padding-left: 1.5em;

    &::before {
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
    }
  }
}

ol {
  li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;

    &::before {
      content: counter(list-0, decimal) '. ';
    }
  }
}

ul {
  li {
    &::before {
      content: '\2022';
    }
  }
}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
