@-webkit-keyframes "editor-loader-spin" {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes "editor-loader-spin" {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@-webkit-keyframes "wobble" {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	15% {
		-webkit-transform: translate3d(-5%,0,0) rotate(-5deg);
		transform: translate3d(-5%,0,0) rotate(-5deg);
	}
	30% {
		-webkit-transform: translate3d(2%,0,0) rotate(3deg);
		transform: translate3d(2%,0,0) rotate(3deg);
	}
	45% {
		-webkit-transform: translate3d(-3%,0,0) rotate(-3deg);
		transform: translate3d(-3%,0,0) rotate(-3deg);
	}
	60% {
		-webkit-transform: translate3d(2%,0,0) rotate(2deg);
		transform: translate3d(2%,0,0) rotate(2deg);
	}
	75% {
		-webkit-transform: translate3d(-1%,0,0) rotate(-1deg);
		transform: translate3d(-1%,0,0) rotate(-1deg);
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes "wobble" {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
	15% {
		-webkit-transform: translate3d(-5%,0,0) rotate(-5deg);
		transform: translate3d(-5%,0,0) rotate(-5deg);
	}
	30% {
		-webkit-transform: translate3d(2%,0,0) rotate(3deg);
		transform: translate3d(2%,0,0) rotate(3deg);
	}
	45% {
		-webkit-transform: translate3d(-3%,0,0) rotate(-3deg);
		transform: translate3d(-3%,0,0) rotate(-3deg);
	}
	60% {
		-webkit-transform: translate3d(2%,0,0) rotate(2deg);
		transform: translate3d(2%,0,0) rotate(2deg);
	}
	75% {
		-webkit-transform: translate3d(-1%,0,0) rotate(-1deg);
		transform: translate3d(-1%,0,0) rotate(-1deg);
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@-webkit-keyframes "bounceIn" {
	0%,20%,40%,60%,80%,to {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9);
	}
	20% {
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03);
	}
	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes "bounceIn" {
	0%,20%,40%,60%,80%,to {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		-webkit-transform: scale3d(.9,.9,.9);
		transform: scale3d(.9,.9,.9);
	}
	20% {
		-webkit-transform: scale3d(1.03,1.03,1.03);
		transform: scale3d(1.03,1.03,1.03);
	}
	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@-webkit-keyframes "selectionBounce" {
	0%,20%,40%,60%,80%,to {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	50% {
		-webkit-transform: scale3d(1.01,1.01,1.01);
		transform: scale3d(1.01,1.01,1.01);
	}
	70% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes "selectionBounce" {
	0%,20%,40%,60%,80%,to {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	50% {
		-webkit-transform: scale3d(1.01,1.01,1.01);
		transform: scale3d(1.01,1.01,1.01);
	}
	70% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@-webkit-keyframes "cdxRotation" {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes "cdxRotation" {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
.codex-editor {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1;
	.hide {
		display: none;
	}
	svg {
		fill: currentColor;
		vertical-align: middle;
		max-height: 100%;
	}
}
.codex-editor__redactor {
	padding-bottom: 300px;
}
.codex-editor__redactor--hidden {
	display: none;
}
.codex-editor__loader {
	position: relative;
	height: 30vh;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		margin-left: -15px;
		border-radius: 50%;
		border: 2px solid rgba(201,201,204,.48);
		border-top-color: transparent;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-animation: editor-loader-spin .8s linear infinite;
		animation: editor-loader-spin .8s linear infinite;
		will-change: transform;
	}
}
.codex-editor-copyable {
	position: absolute;
	height: 1px;
	width: 1px;
	top: -400%;
	opacity: .001;
}
.codex-editor-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	pointer-events: none;
	overflow: hidden;
}
.codex-editor-overlay__container {
	position: relative;
	pointer-events: auto;
	z-index: 0;
}
.codex-editor-overlay__rectangle {
	position: absolute;
	pointer-events: none;
	background-color: rgba(46,170,220,.2);
	border: 1px solid transparent;
}
&::selection {
	background-color: #a8d6ff;
}
[contentEditable=true][data-placeholder] {
	&:empty {
		&:before {
			content: attr(data-placeholder);
			color: #707684;
			font-weight: 400;
		}
		&:focus {
			&:before {
				opacity: .3;
			}
		}
	}
}
.codex-editor--toolbox-opened {
	[contentEditable=true][data-placeholder] {
		&:focus {
			&:before {
				opacity: 0;
			}
		}
	}
}
.ce-toolbar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease;
	will-change: opacity,transform;
	display: none;
	.ce-toolbox {
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
.ce-toolbar--opened {
	display: block;
}
.ce-toolbar__content {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
}
.ce-toolbar__plus {
	color: #707684;
	cursor: pointer;
	width: 34px;
	height: 34px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	left: -34px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	&:hover {
		color: #388ae5;
	}
}
.ce-toolbar__plus--active {
	color: #388ae5;
	-webkit-animation: bounceIn .75s 1;
	animation: bounceIn .75s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.ce-toolbar__plus--hidden {
	display: none;
}
.ce-toolbar__actions {
	position: absolute;
	right: 0;
	top: 10px;
	padding-right: 16px;
	opacity: 0;
}
.ce-toolbar__actions--opened {
	opacity: 1;
}
.ce-toolbar__actions-buttons {
	text-align: right;
}
.ce-toolbar__settings-btn {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #707684;
	cursor: pointer;
}
.ce-toolbox {
	position: absolute;
	visibility: hidden;
	-webkit-transition: opacity .1s ease;
	transition: opacity .1s ease;
	will-change: opacity;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.ce-toolbox--opened {
	opacity: 1;
	visibility: visible;
}
.ce-toolbox__button {
	color: #707684;
	cursor: pointer;
	width: 34px;
	height: 34px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	&:hover {
		color: #388ae5;
	}
}
.ce-toolbox__button--active {
	color: #388ae5;
	-webkit-animation: bounceIn .75s 1;
	animation: bounceIn .75s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.ce-toolbox__tooltip {
	position: absolute;
	top: 25px;
	padding: 6px 10px;
	border-radius: 5px;
	line-height: 21px;
	opacity: 0;
	background: #eff2f5;
	-webkit-box-shadow: 0 10px 12px -9px rgba(26,39,54,.32),0 3px 2px -2px rgba(33,48,73,.05);
	box-shadow: 0 10px 12px -9px rgba(26,39,54,.32),0 3px 2px -2px rgba(33,48,73,.05);
	color: #5c6174;
	font-size: 12px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	-webkit-transition: opacity .15s ease-in,left .1s linear;
	transition: opacity .15s ease-in,left .1s linear;
	will-change: opacity,left;
	letter-spacing: .02em;
	line-height: 1em;
	&:before {
		content: "";
		width: 10px;
		height: 10px;
		position: absolute;
		top: -5px;
		left: 50%;
		margin-left: -5px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background-color: #eff2f5;
		z-index: -1;
	}
}
.ce-toolbox__tooltip-shortcut {
	color: rgba(100,105,122,.6);
	word-spacing: -2px;
	margin-top: 5px;
}
.ce-toolbox__tooltip--shown {
	opacity: 1;
	-webkit-transition-delay: .1s,0s;
	transition-delay: .1s,0s;
}
.ce-inline-toolbar {
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0 8px 23px -6px rgba(21,40,54,.31),22px -14px 34px -18px rgba(33,48,73,.26);
	box-shadow: 0 8px 23px -6px rgba(21,40,54,.31),22px -14px 34px -18px rgba(33,48,73,.26);
	border-radius: 4px;
	z-index: 2;
	padding: 6px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: none;
	-webkit-box-shadow: 0 6px 12px -6px rgba(131,147,173,.46),5px -12px 34px -13px rgba(97,105,134,.6),0 26px 52px 3px rgba(147,165,186,.24);
	box-shadow: 0 6px 12px -6px rgba(131,147,173,.46),5px -12px 34px -13px rgba(97,105,134,.6),0 26px 52px 3px rgba(147,165,186,.24);
	&:before {
		content: "";
		width: 15px;
		height: 15px;
		position: absolute;
		top: -7px;
		left: 50%;
		margin-left: -7px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background-color: #fff;
		z-index: -1;
	}
	[hidden] {
		display: none !important;
	}
}
.ce-inline-toolbar--showed {
	display: block;
}
.ce-inline-toolbar__buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.ce-inline-tool {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: bottom;
	color: #707684;
	line-height: normal;
	&:hover {
		background-color: #eff2f5;
	}
	.icon {
		margin: auto;
	}
	>svg {
		margin: auto;
	}
	&:not(:last-of-type) {
		margin-right: 5px;
	}
}
.ce-inline-tool--active {
	color: #388ae5;
}
.ce-inline-tool--last {
	margin-right: 0 !important;
}
.ce-inline-tool--link {
	.icon {
		margin-top: -2px;
	}
	.icon--unlink {
		display: none;
	}
}
.ce-inline-tool--unlink {
	.icon--link {
		display: none;
	}
	.icon--unlink {
		display: inline-block;
	}
}
.ce-inline-tool-input {
	background-color: #eff2f5;
	outline: none;
	border: 0;
	border-radius: 3px;
	margin: 6px 0 0;
	font-size: 13px;
	padding: 8px;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	&::-webkit-input-placeholder {
		color: #707684;
	}
	&:-ms-input-placeholder {
		color: #707684;
	}
	&::-ms-input-placeholder {
		color: #707684;
	}
	&::placeholder {
		color: #707684;
	}
}
.ce-inline-tool-input--showed {
	display: block;
}
.ce-settings {
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0 8px 23px -6px rgba(21,40,54,.31),22px -14px 34px -18px rgba(33,48,73,.26);
	box-shadow: 0 8px 23px -6px rgba(21,40,54,.31),22px -14px 34px -18px rgba(33,48,73,.26);
	border-radius: 4px;
	z-index: 2;
	right: 5px;
	top: 35px;
	min-width: 124px;
	display: none;
	&:before {
		content: "";
		width: 15px;
		height: 15px;
		position: absolute;
		top: -7px;
		left: 50%;
		margin-left: -7px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background-color: #fff;
		z-index: -1;
		left: auto;
		right: 12px;
	}
}
.ce-settings--opened {
	display: block;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
.ce-settings__plugin-zone {
	&:not(:empty) {
		padding: 6px 6px 0;
	}
}
.ce-settings__default-zone {
	&:not(:empty) {
		padding: 6px;
	}
}
.ce-settings__button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: bottom;
	color: #707684;
	line-height: 32px;
	&:hover {
		background-color: #eff2f5;
	}
	.icon {
		margin: auto;
	}
	>svg {
		margin: auto;
	}
	&:not(:nth-child(3n+3)) {
		margin-right: 5px;
	}
	&:nth-child(n+4) {
		margin-top: 5px;
	}
}
.ce-settings__button--active {
	color: #388ae5;
}
.ce-settings__button--disabled {
	cursor: not-allowed !important;
	opacity: .3;
}
.ce-settings__button--selected {
	color: #388ae5;
}
.ce-settings__button--delete {
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
	will-change: background-color;
	.icon {
		-webkit-transition: -webkit-transform .2s ease-out;
		transition: -webkit-transform .2s ease-out;
		transition: transform .2s ease-out;
		transition: transform .2s ease-out,-webkit-transform .2s ease-out;
		will-change: transform;
	}
}
.ce-settings__button--confirm {
	background-color: #e24a4a;
	color: #fff;
	&:hover {
		background-color: #d54a4a !important;
	}
	.icon {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
.ce-block {
	&:first-of-type {
		margin-top: 0;
	}
	a {
		cursor: pointer;
		text-decoration: underline;
	}
	b {
		font-weight: 700;
	}
	i {
		font-style: italic;
	}
}
.ce-block--focused {
	background-image: linear-gradient(17deg,rgba(243,248,255,.03) 63.45%,rgba(207,214,229,.27) 98%);
	border-radius: 3px;
}
.ce-block--selected {
	.ce-block__content {
		background: #a8d6ff;
		-webkit-box-shadow: 0 31px 23px -22px #afdcff;
		box-shadow: 0 31px 23px -22px #afdcff;
		-webkit-animation: selectionBounce .2s 1;
		animation: selectionBounce .2s 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		.ce-stub {
			opacity: .55;
		}
		img {
			opacity: .55;
		}
	}
}
.ce-block--stretched {
	.ce-block__content {
		max-width: none;
	}
}
.ce-block__content {
	position: relative;
	max-width: 650px;
	margin: 0 auto;
}
.ce-block--drop-target {
	.ce-block__content {
		&:before {
			content: "";
			position: absolute;
			top: 100%;
			left: -20px;
			margin-top: -1px;
			height: 8px;
			width: 8px;
			border: solid #388ae5;
			border-width: 1px 1px 0 0;
			-webkit-transform-origin: right;
			transform-origin: right;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			height: 1px;
			width: 100%;
			color: #388ae5;
			background: repeating-linear-gradient(90deg,#388ae5,#388ae5 1px,#fff 0,#fff 6px);
		}
	}
}
.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
}
.cdx-block {
	padding: .4em 0;
}
.cdx-input {
	border: 1px solid rgba(201,201,204,.48);
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
	box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
	border-radius: 3px;
	padding: 10px 12px;
	outline: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cdx-settings-button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	outline: none;
	background-color: transparent;
	vertical-align: bottom;
	color: #707684;
	&:hover {
		background-color: #eff2f5;
	}
	.icon {
		margin: auto;
	}
	>svg {
		margin: auto;
	}
	&:not(:nth-child(3n+3)) {
		margin-right: 5px;
	}
	&:nth-child(n+4) {
		margin-top: 5px;
	}
}
.cdx-settings-button--active {
	color: #388ae5;
}
.cdx-loader {
	position: relative;
	border: 1px solid rgba(201,201,204,.48);
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 18px;
		height: 18px;
		margin: -11px 0 0 -11px;
		border: 2px solid rgba(201,201,204,.48);
		border-left-color: #388ae5;
		border-radius: 50%;
		-webkit-animation: cdxRotation 1.2s linear infinite;
		animation: cdxRotation 1.2s linear infinite;
	}
}
.cdx-button {
	padding: 13px;
	border-radius: 3px;
	border: 1px solid rgba(201,201,204,.48);
	font-size: 14.9px;
	background: #fff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(18,30,57,.04);
	box-shadow: 0 2px 2px 0 rgba(18,30,57,.04);
	color: #707684;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: #fbfcfe;
		-webkit-box-shadow: 0 1px 3px 0 rgba(18,30,57,.08);
		box-shadow: 0 1px 3px 0 rgba(18,30,57,.08);
	}
	svg {
		height: 20px;
		margin-right: .2em;
		margin-top: -2px;
	}
}
.ce-stub {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding: 3.5em 0;
	margin: 17px 0;
	border-radius: 3px;
	background: #fcf7f7;
	color: #b46262;
}
.ce-stub__info {
	margin-left: 20px;
}
.ce-stub__title {
	margin-bottom: 3px;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
}
.ce-stub__subtitle {
	font-size: 16px;
}
@media (min-width:651px) {
	.codex-editor--narrow {
		.codex-editor__redactor {
			margin-right: 50px;
		}
		.ce-toolbar__actions {
			right: -5px;
		}
		.ce-toolbar__plus {
			left: 5px;
		}
		.ce-toolbox {
			background: #fff;
			z-index: 2;
		}
		.ce-block--focused {
			margin-right: -50px;
			padding-right: 50px;
		}
	}
}
@media (max-width:650px) {
	.ce-toolbar {
		position: fixed;
		bottom: 0;
		top: auto;
		left: 0;
		right: 0;
		z-index: 9;
		height: 50px;
		background: #fff;
		-webkit-box-shadow: 0 -2px 12px rgba(60,67,81,.18);
		box-shadow: 0 -2px 12px rgba(60,67,81,.18);
		-webkit-transform: none !important;
		transform: none !important;
	}
	.ce-toolbar--opened {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.ce-toolbar__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-line-pack: center;
		align-content: center;
		margin: 0;
		padding: 0 10px;
		max-width: calc(100% - 70px);
		overflow-x: auto;
	}
	.ce-toolbar__plus {
		display: none !important;
	}
	.ce-toolbar__actions {
		position: static;
		margin-left: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.ce-toolbox {
		position: static;
		-webkit-transform: none !important;
		transform: none !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		visibility: visible !important;
	}
	.ce-settings {
		bottom: 50px;
		top: auto;
		&:before {
			bottom: -5px;
			top: auto;
		}
	}
	.ce-block--focused {
		background-image: none;
		background-color: rgba(200,199,219,.17);
		margin: 0 -10px;
		padding: 0 10px;
	}
}

.cdx-list {
  margin: 0;
  padding-left: 40px;
  outline: none;
}

.tc-editor {
  padding: 10px;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  left: -10px;
}
