@import 'tailwindcss/utilities';

.separator {
  @apply w-full text-center;
  @apply border-b border-secondary;

  line-height: 0.1em;
  margin: 10px 0 20px;

  & .separator-text {
    @apply bg-white;

    padding: 0 10px;
  }
}

.pointer {
  cursor: pointer;
}

.icon-checkmark {
  @apply self-center;

  color: theme("colors.primary.default");
}

a {
  border-bottom: 1px dashed theme("colors.primary.default");
}
