extends ../layout/main
block content
    h3 Welcome to Root

    p To ensure a smooth experience when using Root, please confirm your email using the URL below:
    a(href=`${confirmUrl}`) Confirm Email
    p If the above link does not work, copy and paste the following URL below into your browser:
    p #{confirmUrl}
