extends ../layout/main
block content
    h3 Welcome to Root

    p To ensure a smooth experience when using Root, please confirm your email using the URL below:
    a(href=`${confirmUrl}`, class="button") Confirm Email
    p If the button above does not work, copy and paste the URL below into your browser:
    a(href=`${confirmUrl}`, class="link") #{confirmUrl}
