extends ../layout/main
block content
    h3 Password Reset
    p You recently requested a password reset for your Root account. To proceed, please click the button below:
    a(href=`${confirmUrl}`, class="button") Reset Password
    p If the above link does not work, copy and paste the following URL below into your browser:
    p #{confirmUrl}
    p If you did not request a password reset, please ignore this email.
