extends ../layout/main
block content
    h3 Space Invitation
    p #[strong #{sender.firstName}] invited you to join #[strong #{space.title}] space on Root.
    a(href=`${inviteUrl}`) Accept invitation
    p If the above link does not work, copy and paste the following URL below into your browser:
    p #{inviteUrl}